*{
  margin: 0;
  
  }
body{

  background-color: rgb(232 235 241)
}
.app_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app_stats{
  display: flex;
  justify-content: space-between;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  gap: 40px;
 text-align: center;
}


@media (max-width: 990px) {
  .App{
    flex-direction: column;
  
  }

}

.infected{
  border-left: 10px black solid;
}
.country_selection{
  max-width: 400px;
  background-color: white;
  margin:auto;
  min-width: 250px;
  
}
#form{
  width: 100%;
}